--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@import "xixia";
@import "./bootstrap.min.css";
@import "./font-awesome.min.css";

/* Bootstrap Treeview */

.treeview .list-group-item {
    cursor: pointer
}

.treeview span.indent {
    margin-left: 10px;
    margin-right: 10px
}

.treeview span.icon {
    width: 12px;
    margin-right: 5px
}

.treeview .node-disabled {
    color: silver;
    cursor: not-allowed
}

a[data-toggle=collapse]::after {
    content: "+";
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    width: 10px;
}

a[data-toggle=collapse][aria-expanded=true]::after {
    content: "-";
    padding-left: 2px;
}

.salaries ul {
    list-style: none;
    padding-left: 20px;
}

.salaries h5 {
    margin: 2px 0;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}